html, body, #root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bodyNiceWhite {
  background-color: #d5fefd;
  background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
}
.bodyNiceBlack1 {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}
.bodyNiceBlack2 {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
.bodyNiceBlack3 {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}
.bodyNiceBlack4 {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}



.wordBreak-anywhere { 
  overflow-wrap: anywhere; 
}
.wordBreak-word {
  overflow-wrap: break-word;
}
.wordBreak-all {
  word-break: break-all;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.lowercase {
  text-transform: lowercase;
  }
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.upload {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.overflowY {
  overflow-y: auto;
}
.overflowN {
  overflow:hidden;
}


.z-100 {
  z-index: -100;
}
.z-1000 {
  z-index: 1000;
}
.h-auto {
  height: auto !important;
}
.w-auto {
  width: auto !important;
}

/* height */
.h-100 {
  height: 100vh !important;
}
.h-98 {
  height: 98% !important;
}
.h-97 {
  height: 97% !important;
}
.h-96 {
  height: 96% !important;
}
.h-95 {
  height: 95% !important;
}
.h-93 {
  height: 93% !important;
}
.h-90 {
  height: 90% !important;
}
.h-88 {
  height: 88% !important;
}
.h-85 {
  height: 85% !important;
}
.h-80 {
  height: 80% !important;
}
.h-75 {
  height: 75% !important;
}
.h-60 {
  height: 60% !important;
}
.h-50 {
  height: 50% !important;
}
.h-45 {
  height: 45% !important;
}
.h-40 {
  height: 40% !important;
}
.h-35 {
  height: 35% !important;
}
.h-30 {
  height: 30% !important;
}
.h-25 {
  height: 25% !important;
}
.h-20 {
  height: 20% !important;
}
.h-10 {
  height: 10% !important;
}
.h-5 {
  height: 5% !important;
}

/* width */
.w-100 {
  width: 100% !important;
}
.w-95 {
  width: 95% !important;
}
.w-85 {
  width: 85% !important;
}
.w-75 {
  width: 75% !important;
}
.w-50 {
  width: 50% !important;
}
.w-25 {
  width: 25% !important;
}

.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: 1em !important;
}
.m-2 {
  margin: 2em !important;
}
.m-3 {
  margin: 3em !important;
}
.m-4 {
  margin: 4em !important;
}
.m-5 {
  margin: 5em !important;
}

.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: 1em !important;
}
.p-2 {
  padding: 2em !important;
}
.p-3 {
  padding: 3em !important;
}
.p-4 {
  padding: 4em !important;
}
.p-5 {
  padding: 5em !important;
}

.px-0{
  padding-left: 0em !important;
  padding-right: 0em !important;
}
.mx-0{
  margin-left: 0em !important;
  margin-right: 0em !important;
}
.px-1{
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.mx-1{
  margin-left: 1em !important;
  margin-right: 1em !important;
}

.my-1 {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
.my-2 {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}
.my-3 {
  margin-top: 3em !important;
  margin-bottom: 3em !important;
}
.py-1 {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.py-2 {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}
.py-3 {
  padding-top: 3em !important;
  padding-bottom: 3em !important;
}
.py-4 {
  padding-top: 4em !important;
  padding-bottom: 4em !important;
}

.line-h-100 {
  line-height: 100% !important;
}
.line-h-200 {
  line-height: 200% !important;
}
.line-h-300 {
  line-height: 300% !important;
}
.line-h-400 {
  line-height: 400% !important;
}

.resetButton {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}